<button
  class="btn btn-primary mb-3"
  (click)="init()"
>Refresh</button>
<div
  class="row"
  *ngIf="loans$ | async as loans"
>
  <div
    *ngFor="let loan of loans"
    class="col-lg-6"
  >
    <div class="card mb-3">
      <h4 class="card-header">
        {{loan.id}}
      </h4>
      <div class="card-body">
        <h5 class="card-title">User Name</h5>
        <p class="card-text">{{loan.userName}}</p>
        <h5 class="card-title">Book Name</h5>
        <p class="card-text">{{loan.bookName}}</p>
        <h5 class="card-title">Loan date</h5>
        <p class="card-text">{{loan.loanDate}}</p>
        <button
          class="btn btn-primary"
          (click)="return(loan.id)"
        >Return</button>
      </div>
    </div>
  </div>
</div>
